<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas>
</canvas>
<script>

    var canvas = document.querySelector('canvas');
    var context = canvas.getContext('2d');

    var imageObj = new Image();

    function writeImg() {
        var pattern = context.createPattern(imageObj, 'no-repeat');
        canvas.width = imageObj.width;
        canvas.height = imageObj.height;
        context.rect(0, 0, canvas.width, canvas.height);
        context.fillStyle = pattern;
        context.fill();
    }

    imageObj.onload = function () {
        var pattern = context.createPattern(imageObj, 'no-repeat');
        canvas.width = imageObj.width;
        canvas.height = imageObj.height;
        context.rect(0, 0, canvas.width, canvas.height);
        context.fillStyle = pattern;
        context.fill();
    };
    // imageObj.onload = writeImg();
    imageObj.src = 'https://www.hermitagemuseum.org/wps/wcm/connect/c27d08c1-6e28-4d15-b156-a445edf1f148/main1_v2.png?MOD=AJPERES&CACHEID=c27d08c1-6e28-4d15-b156-a445edf1f148';

    function writeMsg(canvas, message) {

        context.clearRect(0, 0, canvas.width, canvas.height);
        context.font = '18pt Calibri';
        context.fillStyle = 'black';
        context.fillText(message, 10, 25);
    }

    function getMP(canvas, event) {
        let rect = canvas.getBoundingClientRect();
        return {
            x: event.clientX - rect.left,
            y: event.clientY - rect.top
        };
    }

    // class Area {
    //     constructor(x, y, node, prevRoom = "", nextRoom = "") {
    //         this.x = x;
    //         this.y = y;
    //         this.node = node;
    //         this.prevRoom = prevRoom;
    //         this.nextRoom = nextRoom;
    //     }
    //
    // }
    //
    // let areas = document.querySelectorAll('area');
    // var coordsParamsArray;
    // var coordX;
    // var coordY;
    // var nodeCode;
    // var arrayArea = [];
    // var prevNode;
    // areas.forEach(function (area) {
    //     coordsParamsArray = area.coords.split(",");
    //     coordX = coordsParamsArray[0];
    //     coordY = coordsParamsArray[1];
    //     nodeCode = area.href.split("#node")[1];
    //     arrayArea.push(new Area(coordX, coordY, nodeCode, prevNode, ""));
    //     // console.log(coordX, coordY, nodeCode, prevNode);
    //     prevNode = nodeCode;
    //
    // });
    // for (i = 0; i < arrayArea.length - 1; i++) {
    //     arrayArea[i].nextRoom = arrayArea[i + 1].node;
    // }
    // arrayArea[0].prevRoom = arrayArea[arrayArea.length - 1].node;
    // arrayArea[arrayArea.length - 1].nextRoom = arrayArea[0].node;
    // arrayArea.forEach(function (AREA) {
    //     console.log(AREA.x, AREA.y, AREA.node, AREA.prevRoom, AREA.nextRoom);
    // })

    
    // canvas.addEventListener('click', function(event){
    //     let MP = getMP(canvas, event);
    //     // let message = 'MP: ('+ MP.x+', '+MP.y+')';
    //     console.log(MP.x, MP.y);
    //     context.beginPath();
    //     context.fillRect(MP.x, MP.y, 5, 5);
    //     context.fillStyle = 'red';
    //     context.fill();
    //
    //     // writeMsg(canvas,message);
    //     // writeImg();
    // });

</script>
</body>
</html>