<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>

      <meta charset="utf-8">

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta name="description" content="">

      <meta name="author" content="">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />



      <title>Новости</title>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h4 class="text-white navbar-brand"><img src="http://www.hermitagemuseum.org/statictest/img/logo_top.png" alt="" style="height: 30px">
          Эрмитаж</h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                  <a class="nav-link" href="/news">Новости</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/map">Карта</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/search">Работники</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a class="btn btn-light" href="/profile">Профиль <span class="oi oi-person" title="person" aria-hidden="true"></span></a></li>
          </ul>
      </div>
  </nav>

    <main role="main" class="container">

        <!--В ЭТОЙ КАРТОЧКЕ ВВОД НОВОСТИ-->
        <div class="card">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Написать новость
            </a>

            <div class="card-body collapse" id="collapseExample">
                <form>
                    <div class="form-group">
                        <label for="newsText">Текст</label>
                        <div class="input-group">
                            <textarea id="newsText" class="form-control" aria-label="With textarea" placeholder="Введите текст новости"></textarea>
                        </div>
                    </div>

                    <a href="#" class="btn btn-primary float-right m-1">Post</a>
                </form>
            </div>
        </div>

        <div class="card m-3" th:each="new_obj : ${news}">
            <div class="card-body">
                <h2 th:text="${new_obj.getTitle()}"></h2>
                <p th:text="${new_obj.description}"></p>
                <div class="dropdown-divider"></div>
                <span class="badge badge-primary" th:text="${new_obj.getDepartment().getDescription()}"></span>
            </div>
        </div>


    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
