<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/custom.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4 class="text-white navbar-brand"><img src="http://www.hermitagemuseum.org/statictest/img/logo_top.png" alt="" style="height: 30px">
        Эрмитаж</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/news">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/map">Карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee">Работники</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-light active" href="/profile">Профиль <span class="oi oi-person" title="person" aria-hidden="true"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container main-content my-2">

    <div class="row">
        <div class="card col-md-3">
            <img src="https://image.shutterstock.com/image-vector/male-profile-picture-silhouette-avatar-260nw-147778580.jpg"
                 alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Контакты</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Телефон<span class="badge badge-pill" th:text="${worker.phone}"></span></li>
                <li class="list-group-item">Электронная почта<span class="badge badge-pill" th:text="${worker.email}"></span></li>
                <li class="list-group-item">Корпус<span class="badge badge-pill" th:text="${worker.getDepartment().getBody().getName()}"></span></li>
                <li class="list-group-item">Ссылка в ВК<span class="badge badge-pill">vk.com/username</span></li>

            </ul>
        </div>
        <div class="col-md-7">
            <h2 th:text="${worker.name} + ' ' +  ${worker.surname} + ' ' + ${worker.patronymic}"></h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Должность
                    <span class="badge badge-pill" th:text="${worker.getPosition().getName()}">
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Подразделение
                    <span class="badge badge-pill" th:text="${worker.getDepartment().description}">
                    podrazdeleniyeName
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    График работы
                    <span class="badge badge-pill"  th:text="${worker.getWorkTime()}">
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>