<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/custom.css">

    <style>
        div .col-md-10{
            margin-top: 15px; background: #d1ecf1; border: 1px solid red;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4 class="text-white navbar-brand"><img src="http://www.hermitagemuseum.org/statictest/img/logo_top.png" alt="" style="height: 30px">
        Эрмитаж</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/news">Новости</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/map">Карта</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/employee">Работники</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-light" href="/profile">Профиль <span class="oi oi-person" title="person" aria-hidden="true"></span></a></li>
        </ul>
    </div>
</nav>

    <div class="container main-content">

        <!-- search -->
        <div class="m-3 col-md-offset-3">
            <input id="search_employee" class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </div>


        <!-- people -->
    </div>
    <div id="answer"></div>
    <script>
        document.getElementById('search_employee').onkeyup =  (event) =>{
            if(event.keyCode === 13) {
                const searchValue = event.target.value;
                $.ajax({
                    type: 'post',
                    url: '/employee/search',
                    data: {'search' : searchValue},
                    success: function (data) {
                        document.getElementById('answer').innerHTML = data;
                    }
                });
            }
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>